html, body {
  height: 100%;
  margin: 0;
}

#pagers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#next, #prev {
  float: left;
  width: 50%;
  height: 100%;
}

#next {
  background-image: url(../images/next.png);
  background-position: right center;
  background-repeat: no-repeat;
}

#prev {
  background-image: url(../images/prev.png);
  background-position: left center;
  background-repeat: no-repeat;
}

/**
 * Main screen area.
 */
#screen {
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;

  /* Slide styles. */
  text-align: center;
  font-size: 64px;
  font-family: Helvetica;
  color: #fff;
  text-shadow: 0px 0px 8px #ccc;
}
