html, body {
  height: 100%;
  margin: 0;
}

#page {
  padding: 12px;
}

textarea {
  width: 50%;
}

#pagers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#next, #prev {
  float: left;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

#next {
  background-image: url(../images/next.png);
  background-position: right center;
  background-repeat: no-repeat;
}

#prev {
  background-image: url(../images/prev.png);
  background-position: left center;
  background-repeat: no-repeat;
}

#slide_sample {
  font-size: 2em;
  text-align: center;
  padding: 32px;
  line-height: 4em;
}

/**
 * Main screen area.
 */
#screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  font-size: 64px;
  font-family: Helvetica;
}

/* Slide styles. */
.theme_dark {
  background-color: #000;
  color: #fff;
  text-shadow: 0px 0px 8px #ccc;
}

.theme_light {
  background-color: #fff;
  color: #333;
}

.theme_paper {
  background-color: #F1EFE5;
  color: #413D29;
}
